@import '../../../styles/value.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .inputBox {
        display: flex;
        width: $s384px;
        height: $s50px;

        border: solid $s05px $gray-1;
        border-radius: $s10px;


        color: $back-1;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: $s16px;

        &::placeholder {
            color: $gray-2;
        }
    }
    p{
        color: $red-1;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}