@import '../../../styles/value';

.main {
    display: none;
    flex-direction: column;
    width: 100%;

    margin-top: $s8px;

    .main_imgAndTextBox {
        display: flex;
        flex-direction: row;

        .main_textColumn {
            display: flex;
            flex-direction: column;

            .main_tagBox {
                display: flex;
                width: $s718px;
                height: 56px;

                margin-left: $s8px;
                margin-top: $s8px;

                padding: $s14px $s32px $s14px $s32px;

                border-radius: 10px;
                background: rgba(255, 255, 255, 0.50);

                flex-direction: row;
                justify-content: space-between;

                align-items: center;

                &.mdf {
                    background-color: $white-1;

                    .main_tagBox_tag {
                        background-color: $gray-1;
                    }
                }

                .main_tag_flexWrap {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }

                .main_tagBox_tag {
                    display: flex;
                    padding: $s5px $s18px $s5px $s18px;
                    background-color: $white-1;
                    border-radius: $s8px;
                    margin-right: $s8px;

                    color: #333;
                    text-align: center;
                    font-size: $s12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

            }
        }
    }

    .main_infoModifyBtn {
        display: flex;
        width: $s200px;
        height: $s48px;

        align-self: center;

        margin-top: $s32px;
    }

    .infoChangeBtn {
        display: flex;
        align-self: center;

        margin-top: $s32px;

        gap: 2.87rem;

        button {
            width: 12.5rem;
            height: 3rem;
        }
    }
}