@import '../../styles/value.scss';

.headerTextWrap {
    .headerBadge {
        font-size: $s20px;
        font-weight: 700;
        color: $blue-3;
    }
    .headerTitle {
        font-size: $s32px;
        font-weight: 700;
        color: $white-1;
    }
    .headerDescription {
        font-size: s16px;
        color: $white-1;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .recruitmentContainer {
        margin-top: 16px;
        .recruitmentSearchContainer {
            display: flex;
            justify-content: center;
        }
        .recruitmentHeader {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
    }
}