@import '../../../../styles/value.scss';

.Container {
    width: 100%;
    padding-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        
        .headerTitle {
            font-size: $s18px;
            font-weight: 700;
            color: $back-1;
        }
        .headerSubTitle {
            font-size: $s24px;
            color: $blue-3;
        }
        .headerDescription {
            font-size: $s14px;
            line-height: $s26px;
            color: $gray-2;
        }
    }
}