$blue-1 : #059EAF;
$blue-2 : #1CB09E;
$blue-3 : #12C9B3;

$yellow-1: #FFFBF3;

$gray-1 : #D9D9D9;
$gray-2 : #6C6C6C;
$gray-3 : #A6A6A6;
$gray-4 : #F3F3F3;
$gray-5 : #FAFAFA;
$gray-6 : #959595;
$gray-7 : #979797;
$gray-8 : #C9C9C9;
$gray-9 : #C3C3C3;
$gray-10 : #A8A8A8;
$gray-11 : #AFAFAF;

$back-1 : #2D2D2D;

$white-1: #ffffff;
$white-2 : #FFFBF4;

$red-1 : #EF4352;
$red-2 : #EE3C3C;


$s05px: 0.03125rem;

$s4px : 0.25rem;
$s5px : 0.3125rem;
$s7px : 0.4375rem;
$s8px : 0.5rem;
$s10px : 0.625rem;

$s12px : 0.75rem;
$s13px : 0.8125rem;
$s14px : 0.875rem;
$s15px : 0.9375rem;
$s16px : 1rem;
$s18px : 1.125rem;
$s20px: 1.25rem;

$s21px: 1.3125rem;
$s22px: 1.375rem;
$s23px : 1.4375rem;
$s24px : 1.5rem;
$s26px : 1.625rem;
$s28px: 1.75rem;
$s30px : 1.875rem;

$s32px : 2rem;
$s36px : 2.25rem;
$s40px: 2.5rem;

$s44px: 2.75rem;
$s46px : 2.875rem;
$s48px : 3rem;
$s50px : 3.125rem;
$s52px : 3.25rem;
$s56px : 3.5rem;

$s60px : 3.75rem;
$s62px : 3.875rem;
$s68px : 4.25rem;

$s72px : 4.5rem;
$s73px : 4.625rem;
$s75px : 4.6875rem;
$s78px : 4.875rem;


$s80px : 5rem;
$s84px : 5.25rem;

$s90px : 5.625rem;

$s92px : 5.75rem;
$s96px : 6rem;
$s100px : 6.25rem;
$s102px : 6.375rem;

$s117px : 7.3125rem;
$s118px : 7.375rem;

$s120px: 7.5rem;
$s121px : 7.5625rem;
$s130px : 8.125rem;
$s150px : 9.375rem;
$s160px : 10rem;

$s180px : 11.25rem;

$s200px: 12.5rem;
$s216px: 13.5rem;
$s240px : 15rem;

$s256px : 16rem;

$s264px : 16.5rem;

$s288px : 18rem;

$s384px : 24rem;

$s462px : 28.875rem;

$s500px : 31.25rem;

$s560px : 35rem;

$s718px : 44.875rem;

$s792px : 49.5rem;

$s887px : 55.4375rem;

$s996px : 62.25rem;

$s1200px : 75rem;