@import '../../styles/value.scss';

.table {
    min-width: 1200px;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid $gray-3;
    }

    th,
    tr {
        height: 48px;
        font-weight: 500;
    }

    tbody {
        tr {
            transition: .2s all ease-in-out;
            cursor: pointer;
            border-bottom: 1px solid $gray-1;

            &:hover {
                color: $blue-1;
            }
        }
    }
}