@import '../../styles/value.scss';

.information {
    display: flex;
    align-items: center;
    gap: 8px;

    .informationIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        &.primary {
            background-color: $blue-2;
        }
    }
    .informationText {
        font-size: 14px;
        font-weight: 400;
        color: #959595;
    }
}