@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  color: rgb(var(--foreground));
  background: #ffffff !important;
}

/* Next Admin 스타일 오버라이드 */
.min-h-screen {
  background-color: #ffffff !important;
} 