@import '../../styles/value.scss';

.novelTabs {
    display: flex;
    gap: 4px;

    .novelTab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 192px;
        height: 50px;
        font-size: 14px;
        background-color: $white-1;
        border: 1px solid $gray-1;
        border-radius: 20px 20px 0 0;


        cursor: pointer;

        &.active {
            border: none;
            background-color: $blue-1;
            color: $white-1;
        }
    }
}