@import '@/styles/value';

.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    background-image: url('../../../images/back-image.svg');
    background-size: cover;

    padding-bottom: 100px;
    overscroll-behavior: none;

    .mainBody_content {
        display: flex;
        flex-direction: row;
        width: 1300px;
        overflow: visible;

        margin-top: 7.9rem;

        .mainBody_content_column {
            display: flex;
            flex-direction: column;
            width: $s996px;

            margin-left: $s40px;

            .mainBody_tab {
                margin-top: $s16px;
            }

            .mainBody_content_title {
                display: flex;
                width: 100%;
                min-height: 56px;

                border-radius: 10px;
                background: rgba(255, 255, 255, 0.50);
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                padding: $s16px $s32px $s16px $s32px;

                .content_status {
                    color: $back-1;
                    text-align: center;
                    font-size: $s16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .content_row {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    .content_text {
                        color: $back-1;
                        font-size: $s18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        margin-right: $s24px;
                    }

                }

                &.on {
                    background: $white-1;
                }
            }

        }
    }
}