$colorPrimary: #059EAF;
$colorRed: #EE3C3C;
$colorWhite: #ffffff;
$f12: 12px;
$f14: 14px;

.formItemContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.formLabel {
  font-size: $f12;
  margin: 12px 0 4px 0;
}

.formSuccessLabel {
  font-size: $f12;
  color: $colorPrimary;
}

.formErrorLabel {
  font-size: $f12;
  color: $colorRed;
}

.inputWithButtonContainer {
  display: flex;
  gap: 16px;
  width: 100%;
}