@import '../../styles/value.scss';

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: $white-1;

    .main_center {
        display: flex;
        flex-direction: column;
        width: $s1200px;

        // background-color: #00000099;
    }
}