@import '../../../styles/value.scss';

.container {
    display: flex;
    width: $s384px;
    flex-direction: column;
    align-items: center;

    .bookCoverImg {
        display: flex;
        width: $s120px;
        height: $s120px;
        align-items: center;
        justify-content: center;

        border: solid $s05px $gray-1;
        border-radius: $s10px;


        color: $gray-2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &>img {
            width: $s120px;
            height: $s120px;
        }
    }
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $s384px;

    &>img {
        width: $s73px;
        height: $s73px;
    }
}