@import '../../../styles/value.scss';

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    width: 68.5rem;

    .card {
        display: flex;
        flex-direction: column;
        width: 33.75rem;
        height: 11.125rem;

        padding: 1rem 1.75rem;
        border-radius: 0.625rem;
        border: 0.5px solid $gray-1;

        transition-property: filter;
        transition-duration: 0.3s;

        &:hover {
            filter: drop-shadow(0px 4px 6px rgba(63, 63, 63, 0.25));
        }

        div {
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .status {
            width: 2.8125rem;
            height: 1rem;
            background-color: $blue-2;
            align-items: center;
            justify-content: center;
            font-size: 0.5rem;
            font-weight: 400;
            color: $white-1;
            border-radius: 100px;

            &+p {
                color: $gray-6;
                font-size: 0.875rem;
                font-weight: 500;

                margin-left: 1rem;
            }
        }

        .title {
            color: $back-1;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 700;

            margin-top: 1.5rem;
        }

        .titleAndText {
            color: $gray-6;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;

            & {
                margin-top: 1rem;
            }

            >span {
                color: $back-1;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
            }

            >span {
                margin-left: 1rem;
            }

            >span:nth-child(1) {
                margin-right: 4.44rem;
            }
        }

        .otherInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;

            margin-top: 1rem;

            color: $gray-6;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;

            >div>p {
                margin-left: 0.5rem;
            }

            // 좋아요 하트 왼쪽 margin
            >div:nth-child(2)>:nth-child(3) {
                margin-left: 0.5rem;
            }
        }
    }



}