@import '../../../styles/value.scss';

.contents {
    width: $s384px;
    height: $s240px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contents_title {
        color: $back-1;
        text-align: center;
        font-size: $s20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        margin-top: $s48px;
    }

    ul {
        margin-top: $s16px;
    }

    li {
        color: $gray-2;
        text-align: center;
        font-size: $s14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
    }

    .contents_btnBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: $s384px;
        height: $s48px;
        margin-top: auto;




        button {
            width: 50%;
            border: none;

            color: $gray-6;
            text-align: center;
            font-size: $s16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            background-color: $white-1;

            border: solid $s05px $gray-1;

            cursor: pointer;

            &:hover {
                background-color: $blue-1;
                color: $white-1;
                border-color: $blue-1;
            }
        }

        button:nth-child(1) {
            border-radius: 0px 0px 0px $s8px;
        }

        button:nth-child(2) {
            border-radius: 0px 0px $s8px 0px;
        }
    }

}