@import '../../styles/value.scss';

.infoBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C8D99;
    height: 5.25rem;

    .roomCreateBtnBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 75rem;

        .createBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 12.5rem;
            height: 3rem;
            margin-right: 12rem;
        }

        &>p {
            color: #FFF;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .novelContainer {
        margin-top: 16px;

        .novelHeader {
            display: flex;
            justify-content: space-between;
        }
    }
}