@import '../../../styles/value.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main_center {
        display: flex;
        flex-direction: column;

        width: $s792px;

        .main_list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .rowCover {
                width: 100%;
            }

            .rowCover:nth-of-type(n+2) {
                margin-top: 100px;
                border: solid 1px $gray-8;
                border-width: 1px 0px 0px 0px;
                margin-top: $s8px;
            }

        }



        .main_infos {
            display: flex;
            flex-direction: row;

            .main_img {
                display: flex;
                width: $s384px;
                height: $s288px;
                background-color: red;
                border-radius: 20px;
            }

            .main_infoText {
                display: flex;
                flex-direction: column;
                width: $s384px;
                margin-left: $s24px;

                .main_status {
                    color: $blue-2;
                    font-size: $s16px;
                    font-style: normal;
                    font-weight: 500;
                }

                .main_title {
                    color: $back-1;
                    font-size: $s32px;
                    font-style: normal;
                    font-weight: 700;

                    &>span {
                        font-size: $s13px;
                        font-weight: 500;
                    }
                }

                .main_scope {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .main_scope_row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        p {
                            color: $back-1;
                            font-size: $s14px;
                            font-style: normal;
                            font-weight: 400;

                            margin-left: $s4px;
                        }
                    }

                    .main_scope_row:nth-child(2) {
                        margin-left: $s16px;
                    }
                }

                .main_writer {
                    color: $gray-6;
                    font-size: $s14px;
                    font-style: normal;
                    font-weight: 500;

                    margin-top: $s52px;
                }

                .main_text1 {
                    color: $back-1;
                    font-size: $s14px;
                    font-style: normal;
                    font-weight: 700;

                    margin-top: $s8px;
                }

                textarea {
                    color: $gray-6;
                    font-size: $s14px;
                    font-style: normal;
                    font-weight: 500;
                    border: none;
                    resize: none;
                    background-color: transparent;

                    margin-top: $s4px;

                    height: 60px;
                }

                .main_tags {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &>div {
                        display: flex;
                        padding: $s8px $s18px $s8px $s18px;

                        color: $gray-2;
                        font-size: $s12px;
                        font-style: normal;
                        font-weight: 400;

                        background-color: $gray-4;
                        border-radius: $s8px;
                    }

                    &>div:nth-child(n+2) {
                        margin-left: $s8px;
                    }
                }
            }
        }
    }
}

.mt44 {
    margin-top: $s44px;
}